
<app-main-slider></app-main-slider>
<app-categories></app-categories>


<div class="row" >
  <div>
    <input [(ngModel)]="searchName" type="text" placeholder="Search By Name.." name="" class="form-control w-75 mx-auto my-4" id="">
  </div>

    <div class="col-md-2" *ngFor="let product of prodcuts|search:searchName">
        <div class="product py-4 px-2">
            <a [routerLink]="['/productdetails',product._id]">
            <img src={{product.imageCover}} class="w-100" alt="" srcset="">
            <span class="text-main fw-bold font-sm">{{product.category.name }}</span>
            <h3 class="h6 fw-bolder mt-2">{{product.title.split(' ').slice(0,15).join(' ')}}</h3>

            <div class="d-flex justify-content-between align-items-center">
                <span class="fw-bold">{{product.price | currency:'EUR'}} EGP</span>

               <div>           
                <i class="fas fa-star rating-color"></i>
                <span class="text-muted">{{product.ratingsAverage}}</span>
               </div>
            </div>
        </a>
        <button class=" btn bg-main text-white w-100 my-2" (click)="addToCart(product._id)">+ Add</button>
        </div>
    </div>
</div>
<!-- <app-loading-page 
  [ename]="name"></app-loading-page> -->