<div class="row gx-0">
  <div class="col-md-9">
   
    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide><img height="400" src="../../../assets/images/slider-image-1.jpeg" alt="" class="w-100" srcset=""></ng-template>
      <ng-template carouselSlide><img height="400" src="../../../assets/images/slider-image-2.jpeg" alt="" class="w-100" srcset=""></ng-template>
      <ng-template carouselSlide><img height="400" src="../../../assets/images/slider-image-3.jpeg" alt="" class="w-100" srcset=""></ng-template>
    </owl-carousel-o>
  
  </div>
  <div class="col-md-3">
    <img height="200" src="../../../assets/images/grocery-banner.png" alt="" class="w-100" srcset="">
    <img height="200" src="../../../assets/images/grocery-banner-2.jpeg" alt="" class="w-100" srcset="">
  </div>
</div>
